/*.ihx
/*.lnk
/*.lst
/*.map
/*.mem
/*.rel
/*.rst
/*.sym
/blink_leds.asm
/smini_common.asm
/command_loop.asm
/fpga.asm
/*.asm
/Makefile
/Makefile.in
/smini_gpif.c
/smini_gpif_inline.h
/Makefile.in
/burn-smini1p-eeprom
